.gradle/
build/
build-native/
run/
bin/
.vscode/
.idea/
*.iml
*.ipr
*.iws
out/
.DS_Store
Thumbs.db
*.log
*.log.gz
RaveX-main/
src/main/native/encoded.h
src/main/java/ravex/telemetry/BuildConfig.java
build-release.sh
src/main/src/
src/main/resources/assets/ravex/security/private.der
