# Explicit language detection for GitHub Linguist
src/main/cpp/CMakeLists.txt linguist-language=CMake
**/CMakeLists.txt linguist-language=CMake
gradlew linguist-language=Shell
gradlew.bat linguist-language=Batchfile
*.bat linguist-language=Batchfile
*.gradle linguist-language=Groovy
*.h linguist-language=C++
build-native/ linguist-vendored
