.gradle/
build/
bin/
run/
.vscode/
.idea/
.classpath
.project
.settings/
*.iml
*.ipr
*.iws
out/
.DS_Store
Thumbs.db
*.log
*.log.gz
*.bak
*.tmp
*.disabled
libs/*.jar
src/main/java/ravex/telemetry/BuildConfig.java
src/main/resources/assets/ravex/security/private.der